#menu_logo {
  float: left; }

#menu_text {
  padding-top: 68px;
  text-align: justify; }
  #menu_text a {
    padding-left: 13px;
    text-decoration: none;
    color: #4e5d7f; }
    #menu_text a:hover {
      color: #188069; }

.menu_item {
  display: inline-block; }

#sidebar {
  float: right;
  position: relative;
  width: 300px; }

.feeds {
  background-color: #f1f1f1;
  position: relative;
  top: -13px;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 7px;
  margin-bottom: 25px;
  font-size: 0.8rem;
  font-weight: 200;
  text-align: left; }
  .feeds h2 {
    font-size: 0.9rem;
    padding-top: 7px; }
  .feeds p {
    padding-top: 10px; }
  .feeds a {
    text-decoration: none;
    color: #4e5d7f; }
    .feeds a:hover {
      color: #188069; }
  .feeds ul {
    padding-left: 0px; }
  .feeds li {
    list-style: none;
    margin-bottom: 5px; }

.feedTime {
  font-style: normal;
  font-size: .8em;
  margin-left: 5px; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #666666;
  text-decoration: none;
  text-align: justify;
  background-color: white; }

#wrapper {
  width: 905px;
  margin: 0 auto; }

.content {
  width: 575px; }
  .content a {
    color: #188069;
    text-decoration: none; }
    .content a:hover {
      color: #188069; }

.roundPhoto {
  border-radius: 10px; }

.roundPhotoTh {
  border-radius: 7px;
  opacity: 1.0;
  filter: alpha(opacity=100); }
  .roundPhotoTh:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); }

.cita {
  width: 575px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 1.0rem;
  text-align: right;
  color: #666666; }

.item p {
  margin-top: 0px; }

footer {
  clear: both;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.7rem;
  font-weight: 200;
  text-align: right;
  color: #222222; }
  footer img {
    position: fixed; }

@media only screen and (max-width: 875px) {
  #sidebar {
    display: none; }

  #wrapper {
    width: 575px; }

  .content {
    width: 100%; }

  .cita {
    width: 100%; } }
/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
  #menu_text {
    padding-top: 0px;
    margin-bottom: 5px;
    font-size: 2.3rem; }

  #sidebar {
    display: none; }

  #wrapper {
    width: 100%;
    margin: 0.02%; }

  body {
    font-size: 1.8rem; }

  .content {
    width: 100%; }

  .cita {
    width: 100%; }

  .roundPhoto {
    width: 100%; }

  .roundPhotoTh {
    width: 100%; } }
@media only screen and (device-width: 768px) {
  /* default iPad screens */ }
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */ }
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */ }
