body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: #666666;
    text-decoration: none;
    /* text-align: justify; */
    background-color: white; 
}

#menu_logo {
    float: left; 
}

#menu_text {
    padding-top: 58px;
}
#menu_text li {
    padding-left: 13px;
}
#menu_text a {
    font-weight: 300;
    text-decoration: none;
    color: #444; 
}
#menu_text a:hover {
    color: #222; 
}
#sidebar {
    float: right;
    position: absolute;
    top: 11px;
    right: 17px;
    height: 0px;
}

#sidebar p {
    font-size: 1.0rem;
    margin-bottom: -2px;
}

.menu_item {
    display: inline-block; 
}

.roundPhotoTh {
    width: 575px;
    height: 165px;
    object-fit: cover;
    display: block;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    z-index: -999; 
}

#main-wrapper {
    width: 100%;
    margin: 0 auto;
    z-index: 100; 
}

.item {
    transition: all 400ms cubic-bezier(0.24, 1, 0.735, 1);
    margin-bottom: 2em;
}

/* on list fade */
.content .item {
    opacity: 0;
    font-size: 0.9rem;
}

.content .item.is-active {
    opacity: 1; 
}

.content .item:hover {
    opacity: 0.6; 
}

/* Item structure - mobile first */
.item-image {
    margin-bottom: 0.5em;
    text-align: center;
}

.item-image a {
    display: inline-block;
}

.item-info {
    text-align: center;
}

.item-title {
    font-weight: 600;
    color: #333;
}

.item-year::after,
.item-medium::after {
    content: ", ";
}

.item-description {
    display: inline;
    margin: 0;
}

/* Desktop layout - image on left, text on right */
@media (min-width: 768px) {
    .item {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: flex-start;
        justify-content: center;
        /* max-width: 1200px;
        margin-left: auto;
        margin-right: auto; */
    }
    
    .item-image {
        flex-shrink: 0;
        margin-bottom: 0;
        text-align: center;
    }
    
    .item-image a {
        display: block;
    }
    
    .item-info {
        flex-shrink: 0;
        text-align: left;
        width: 250px;
    }
    
    /* Vertical text layout on desktop */
    .item-title,
    .item-year,
    .item-medium,
    .item-dimensions {
        display: block;
    }
    
    .item-title {
        display: inline;
        font-size: 1.3em;
    }
    
    .item-year {
        display: inline;
    }
    
    .item-year::after {
        content: "";
        display: block;
    }
    
    .item-medium::after {
        content: "";
        display: block;
    }
    
    .item-description {
        display: block;
        margin-top: 0.5em;
    }
}

.item p {
    margin-top: 0.5em; 
}

/* Longer Info */
#longer-info {
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
    z-index: -1;
}

#longer-info p {
    line-height: 1.5;
    margin-bottom: 10px;
    color: #333;
}

body.windowed-mode #longer-info {
    /* opacity: 1; */
    pointer-events: auto;
    position: relative;
}

 
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; 
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

#myslides {
    position: relative;
    margin: 0 auto;
    transition: all 400ms cubic-bezier(0.24, 1, 0.735, 1); 
}
#myslides .roundPhoto {
    position: absolute;
    left: 0;
    transition: opacity 70ms ease-in-out;
    opacity: 0; 
}
#myslides .roundPhoto.roundPhotoFront {
    opacity: 1; 
}

.cita {
    width: 575px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.0rem;
    text-align: right;
    color: #666666; 
}
a {
    font-style: bold;
    font-weight: 400;
    color: #333;
    text-decoration: none; 
}
a:hover {
    color: #2222; 
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;

    clear: both;
    font-size: 0.8em;
    text-align: center;
}

@media only screen and (max-width: 875px) {
    #main-wrapper {
        width: 100%; 
    }

    .cita {
        width: 100%; 
    } 
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
    body {
        font-size: 1.8rem; 
    }
    
    #menu_text {
        padding-top: 26px;
        margin-bottom: 5px;
        font-size: 2.3rem; 
    }

    /* #sidebar {
        transform: scale(2);
        top: -100px;
        left: -60px; 
    } */

    #main-wrapper {
        width: 100%; 
    }

    p img:not(.icon) {
        max-width: 100%; 
    }

    /* #main-wrapper {
        width: 100%;
        margin: 0.02%; 
    } */

    p img:not(.icon) {
        width: 100%; 
    }
    

    {
        width: 100%; 
    }

    .cita {
        width: 100%; 
    }

    .roundPhoto {
        width: 100%;
    /*border-radius: 30px; */
    }

    .roundPhotoTh {
        width: 100%;
    /*border-radius: 15px; */
    } 
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */ 
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */ 
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */ 
}
