body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.0rem;
    color: #666666;
    text-decoration: none;
    /* text-align: justify; */
    background-color: white; 
}

#menu_logo {
    float: left; 
}

#menu_text {
    padding-top: 68px;
    font-size: 0.9rem;
    /* text-align: justify;  */
}
#menu_text li {
    padding-left: 13px;
}
#menu_text a {
    text-decoration: none;
    color: #444; 
}
#menu_text a:hover {
    color: #222; 
}
#sidebar {
    float: right;
    position: relative;
    /* width: 300px; */
    top: -40px;
    left: -18px;
    height: 0px; 
}

#sidebar p {
    font-size: 0.9rem;
    margin-bottom: -2px;
    /* padding-left: 10px;  */
}

.menu_item {
    display: inline-block; 
}

.roundPhotoTh {
    width: 575px;
    height: 165px;
    object-fit: cover;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    z-index: -999; 
}

#main-wrapper {
    /* width: 905px; */
    width: 600px;
    margin: 0 auto;
    z-index: 100; 
}

.content {
    width: 575px; 
}
.content p img:not(.icon) {
    max-width: 575px; 
}

.content .item {
    transition: all 400ms cubic-bezier(0.24, 1, 0.735, 1);
    -webkit-transform: translate(0, 20%);
    -webkit-transition: opacity 70 ms ease-in-out;
    -webkit-opacity: 0; 
}
.content .item.is-active {
    -webkit-transform: translate(0, 0);
    -webkit-opacity: 1; 
}
.content .item:hover {
    -webkit-opacity: 0.6; 
}
.content .item p {
    font-size: 0.9rem;
    margin-top: 0px; 
}
.content .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; 
}
.content .video-container iframe, .content .video-container object, .content .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.content #myslides {
    /*border-radius: 10px;*/
    position: relative;
    margin: 0 auto;
    transition: all 400ms cubic-bezier(0.24, 1, 0.735, 1); 
}
.content #myslides .roundPhoto {
    /*border-radius: 10px;*/
    position: absolute;
    left: 0;
    -webkit-transition: opacity 70ms ease-in-out;
    -webkit-opacity: 0; 
}
.content #myslides .roundPhoto.roundPhotoFront {
    -webkit-opacity: 1; 
}
/*  .content .roundPhotoTh {
    border-radius: 7px; }*/
.content .cita {
    width: 575px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.0rem;
    text-align: right;
    color: #666666; 
}
.content a {
    font-style: bold;
    font-weight: 400;
    color: #333;
    text-decoration: none; 
}
.content a:hover {
    color: #2222; 
}

footer {
  clear: both;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.7rem;
  font-weight: 200;
  text-align: center;
  color: #222222; 
}
footer img {
    position: fixed; 
}

@media only screen and (max-width: 875px) {
    #sidebar {
        top: -70px; 
    }

    #main-wrapper {
        width: 100%; 
    }

    .content {
        width: 100%; 
    }

    .cita {
        width: 100%; 
    } 
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
    body {
        font-size: 1.8rem; 
    }
    
    #menu_text {
        padding-top: 26px;
        margin-bottom: 5px;
        font-size: 2.3rem; 
    }

    #sidebar {
        transform: scale(2);
        top: -100px;
        left: -60px; 
    }

    #main-wrapper {
        width: 100%; 
    }

    .content p img:not(.icon) {
        max-width: 100%; 
    }

    /* #main-wrapper {
        width: 100%;
        margin: 0.02%; 
    } */

    .content p img:not(.icon) {
        width: 100%; 
    }
    

    .content {
        width: 100%; 
    }

    .cita {
        width: 100%; 
    }

    .roundPhoto {
        width: 100%;
    /*border-radius: 30px; */
    }

    .roundPhotoTh {
        width: 100%;
    /*border-radius: 15px; */
    } 
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */ 
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */ 
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */ 
}
