@import "colors";

#menu_logo{
	float: left;
}

#menu_text{
	padding-top: 68px;
	
	text-align: justify;//left;
	
	a{
		padding-left: 13px;
		text-decoration:none;
		color: $wolf_blue; 
		
		&:hover{
			color: $pale_green;
		}
	}
}

.menu_item{
	display:inline-block;
}