@import "colors";

#sidebar{
	float:right;
	position: relative;
	width:$sidebar_width;		
}

//	FEEDS
//
.feeds{
	background-color: $chok_white;
	
	position: relative;
	top:-13px;

	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;

	border-radius: 7px;
	margin-bottom: 25px;

	font-size: 0.8rem;
	font-weight: 200;
	text-align: left;
	
	h2{
		font-size: 0.9rem;
		padding-top: 7px;
	}
	
	p{
		padding-top: 10px;
	}
	
	a{
		text-decoration:none;
		color: $wolf_blue;
		
		&:hover{
			color: $pale_green;
		}
	}
	
	ul{
		padding-left: 0px;
	}
	
	li{
		list-style: none;
		margin-bottom: 5px;
	}
}
	
.feedTime {
	font-style: normal;
	font-size: .8em;
	margin-left: 5px;
}
