# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*
/2014/skylines/print.pdf
2015/thebookofshaders/
git-pull.php
glslCanvas/
glslEditor/
glslGallery/
images/glslViewer-3D.gif
images/glslViewer-RPi.gif
images/glslViewer.gif
press/