//	Size
//
$content_width:575px;
$sidebar_width:300px;
$menu_height:103px;

//	Colors
//
$soft_gray:#bebebe;		//	Text
$blur_gray:#3c3c3c;		//	Almost Invisible Text
$wolf_blue:#bfccc9;		//	Links
$pale_green:#b8ffc1;	//	Hovered Links
$chok_white:#000000;	//	Background
$pure_white:#FFFFFF;

