@media (min-width: 768px) {
    .item {
        gap: 0px;
    }
    .item-info {
        bottom: -692px;
        position: relative;
        z-index: -1;
    }
}

/* * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
} */

/* Wrapper */
#wrapper {
    position: relative;
    top: -250px;
    left: -200px;
    /* overflow: hidden; */
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 100;
    width: 573px;
    height: 810px;
}


/* Canvas */
.threejs { 
    padding-right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    z-index: 1;

    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    border: 0;
    overflow: hidden;
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

div.threejs { text-align: center; }

canvas.threejs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* Longer Info */
/* #longer-info {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
    padding-top: 90vh;
    padding-bottom: 50px;
    z-index: 0;
} */


/* #longer-info p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #333;
} */


@media (max-width: 800px) {
    #wrapper {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100vw;
        height: 80vh;
        margin: 0;
        z-index: 200;
    }
    
    /* #info {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 100%;
        max-width: 500px;
        margin: 20px auto;
        padding: 0 20px 0px 20px;
    }
    
    #longer-info {
        padding-top: 0;
        max-width: 500px;
        padding: 0 20px 40px 20px;
    } */
}

@media only screen and (max-device-width: 480px) {
    #menu_text {
        padding-top: 66px;
        /* margin-bottom: unset; */
        font-size: 1.0rem; 
    }

    #sidebar {
        transform: scale(1);
        top: -120px;
        left: -2px;
    }
}